<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title id="page_title">@ViewData["Title"] - SwarmUI - @Program.ServerSettings.UserAuthorization.InstanceTitle</title>
    @{
        string themeId = "modern_dark";
        var themeOverride = ViewData["theme_override"]?.ToString();
        if (!string.IsNullOrEmpty(themeOverride) && Program.Web.RegisteredThemes.ContainsKey(themeOverride))
        {
            themeId = themeOverride;
        }
        // TODO: Identify user by auth header and use their settings to determine theme
        else if (ViewContext.HttpContext.Request.Cookies.TryGetValue("sui_theme_id", out string themeCookie) && Program.Web.RegisteredThemes.ContainsKey(themeCookie)) {
            themeId = themeCookie;
        }
        WebServer.ThemeData theme = Program.Web.RegisteredThemes[themeId];
        string bsUrl = theme.IsDark ? "css/bootstrap.min.css" : "css/bootstrap_light.min.css";
        <link rel="stylesheet" id="bs_theme_header" href="@bsUrl" />
        <link rel="stylesheet" href="css/select2.min.css" />
        <link rel="stylesheet" href="css/select2_bootstrap.min.css" />
        <link rel="stylesheet" id="sitecssheader" href="css/site.css?vary=@Utilities.VaryID" />
        @RenderSection("Header", required: false)
        @WebServer.PageHeaderExtra
        foreach (string path in theme.CSSPaths)
        {
            string themeUrl = $"{path}?vary={Utilities.VaryID}";
            <link class="theme_sheet_header" rel="stylesheet" href="@themeUrl" />
        }
    }
    <link id="favicon" rel="shortcut icon" href="favicon.ico" />
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/select2.min.js"></script>
    <script src="js/util.js?vary=@Utilities.VaryID"></script>
    <script src="js/translator.js?vary=@Utilities.VaryID"></script>
</head>
<body>
    <div class="top-status-bar-wrapper"><div class="top-status-bar" id="top_status_bar"></div></div>
    <div class="center-toast toast-error-box" id="center_toast">
        @WebUtil.Toast("error_toast_box", "Error", "", "error_toast_content", "", false)
    </div>
    @RenderBody()
    <script src="js/permissions.js?vary=@Utilities.VaryID"></script>
    <script src="js/site.js?vary=@Utilities.VaryID"></script>
    <div id="version_display" class="version-display">SwarmUI v<span>@Utilities.Version</span><span> (@Program.CurrentGitDate)</span></div>
    @RenderSection("Scripts", required: false)
</body>
</html>
